@use 'sass:color';

$black: #1A1A1A;
$white: #ffffff;
$blue: #3f51b5;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


:root {
	--bg-color: #{$white};
	--text-color: #{$black};
	--main-color: #{$blue};
	--accent-color: #{color.adjust($blue, $lightness: -10%)};
	--light-bg: #{$gray-100};
	--muted-text: #{$gray-600};
	--border-color: #{$gray-300};
	--light-gray: #{$gray-200};
	--dark-gray: #{$gray-700};
	--white: #{$white};
	--black: #{$black};
}

.dark {
	--bg-color: #{$black};
	--text-color: #{$white};
	--light-bg: #{$gray-800};
	--muted-text: #{$gray-400};
	--border-color: #{$gray-700};
	--light-gray: #{$gray-700};
	--dark-gray: #{$gray-300};
}