@use "fonts";

.archive,
.post,
.page {
	@include fonts.text4;

	h1 {
		text-align: center;
		@include fonts.text1;
		margin-bottom: 2rem;
	}

	.post-meta {
		display: flex;
		justify-content: center;
		align-items: center;
		@include fonts.text6;
		gap: 2rem;
		margin-bottom: 3rem;

		.post-author {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			.author-avatar {
				img {
					border-radius: 50%;
					width: 40px;
					height: 40px;
					object-fit: contain;
				}
			}

			align-items: center;

			img {
				aspect-ratio: 1/1;
				width: 2rem;
				display: block;
				border-radius: 9999px;
				object-fit: contain;
				object-position: center;
			}
		}
	}

	.related_articles {
		margin-top: 3rem;

		h2,
		h3 {
			font-size: 1.25rem;
		}
	}
}